.nav-item {
  .nav-link {
    color: $dark;
  }

  .btn-toggle-nav {
    a {
      display: inline-flex;
      padding: .4rem .7rem;
      margin-top: .125rem;
      margin-left: 4rem;
      text-decoration: none;
      color: $dark;
      font-size: 16px;

      &:hover, &:focus {

        background-color: $gray;
        color: $dark;

      }
    }
  }
}
